<nav class="navbar navbar-expand-lg m-2" style="background-color: black;border-radius: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" routerLink=""><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"
                width="20px" height="2%" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-5" routerLink="imac" style="color: white">Mac</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-5" routerLink="iphone" style="color: white">iPhone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-5" style="color: white" routerLink="ipad">iPad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-5" routerLink="accesorio" style="color: white">Accesorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-5" routerLink="login" style="color: white">
                        <i class="bi bi-file-person-fill"> <span style="font-style: normal;">Tu cuenta</span> </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>